

/**************Custom Styling*****************/


html, body {
	height: 100%;
}



.nav-items {
	position: relative;
	width: 100%;
	top: 0px;
	float: right;
}

img {
	display: inline-block;
	margin: auto;
}