

/**************Custom Styling*****************/


html, body {
	height: 100%;
}



.nav-items {
	width: 100%;
	top: 0px;
	float: right;
}

img {
	display: inline-block;
	margin: auto;
}

.search-box {
	text-align: center;
}

form input[type="text"] {
	width: 380px;
	height: 25px;
}

.submit {
	display: inline-block;
	width: 80px;
}

.luck {
	display: inline-block;
	width: 80px;
}

